@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

#root {
  height: 100%;
  background-color: #18181b;
  font-family: 'Montserrat', sans-serif;
}

.modal {
  padding: 0px 16px 0px 16px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

.modal_form {
  background: #18181b;
  width: 100%;
  max-width: 550px;
  position: relative;
  border-radius: 6px;
}

.card_background {
  background-color: #767676;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn {
  background: linear-gradient(149deg, rgba(24,187,156,1) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
  animation: gradient 10s infinite linear;
  background-size: 400%;
}

@keyframes gradient {
  0% {
      background-position: 80% 0%;
  }
  50% {
      background-position: 20% 100%;
  }
  100% {
      background-position: 80% 0%;
  }
}